
# requirements.txt
configparser==7.2.0
contourpy==1.3.2
cycler==0.12.1
delcom @ file:///C:\Users\c376038\Desktop\inst_suite\test\delcom-0.1.1-py3-none-any.whl
fonttools==4.58.4
gui_package_cawilvitro==0.0.1
instutil==0.0.2
kiwisolver==1.4.8
matplotlib==3.10.3
mysql-connector-python==9.3.0
numpy==1.24.2
packaging==25.0
pillow==11.2.1
pyodbc==5.2.0
pyparsing==3.2.3
pyserial==3.5
python-dateutil==2.9.0.post0
pyusb==1.2.1
PyVISA==1.15.0
six==1.17.0
typing_extensions==4.14.0